# Database
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/stickerlabdb"

# Docker Compose
POSTGRES_USER=stickerlab
POSTGRES_PASSWORD=sua-senha-aqui
POSTGRES_DB=stickerlabdb

# AWS S3
AWS_ACCESS_KEY_ID=sua-access-key-id
AWS_SECRET_ACCESS_KEY=sua-secret-access-key
AWS_REGION=us-east-1
AWS_S3_BUCKET=nome-do-seu-bucket

# CloudFront
CLOUDFRONT_URL=https://sua-distribuicao.cloudfront.net

# Server
PORT=3001
